<div>
    <h1>All Beers</h1>
    <ul>
        {{#each beersFromApi }}
        <h2>{{name}}</h2>
        <img src="{{image_url}}" alt="{{name}}">
        <p>{{tagline}}</p>
        <p>{{description}}</p>
        {{/each }}
    </ul>
</div>