
<img src={{image_url}} alt="beerImg">
      <div>
        <h3>{{name}}</h3>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
        <p>Food pairings:</p>
        <p>{{food_pairing}}</p>
        <p>Tips:</p>
        <p>{{brewers_tips}}</p>
      </div>
    </div>
</main>